if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") logout

    ul
      |
      |
      select(class="selectType" name="selectType")
        option(href='/productTypes') Product Categories
        each prodType in prodTypes
          option(href='') prodType.name
      |
      |
      a(href="/postProduct") Sell Product
      |
      |
      a(href='userProfile') Profile
      |
      |
      a(href='viewCart') View Cart
      |
      |
      a(href="/products") Products

