if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") logout

    ul
      |
      |
      a(href='/productTypes') Product Categories
      |
      |
      a(href="/postProduct") Sell Product
      |
      |
      a(href='userProfile') Profile
      |
      |
      a(href='viewCart') View Cart
      |
      |

if session.passport
  form(action="/products", method="GET")
    input(type="text", name="search")
    button#button(type="submit") Search
  br


