if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") logout

    ul
      a(href='productTypes') Product Categories 
      a(href='sellProduct') Sell Product 
      a(href='userProfile') Profile 
      a(href='viewCart') View Cart 

