doctype html
html
  head
    title Bangazon!
  body
    include partials/nav.pug
    h1 Bangazon!
    h2 #{globalWow}

  block content
    button#showLogin login
    button#showRegister register

    script
      include ../client/client.js
