extends index.pug



block content  
  h2 Product Types

  ul
    each prodtype in prodTypeNameArr
      h3 #{prodtype}
      each prod in prodData
        if prod.name === prodtype
          a(href="") #{prod['Products.name']}
          br
      br

