extends index.pug



block content
  //- include partials/nav.pug
  
  h3 Product Types

  ul
    each prodtype in prodTypeNameArr
      h4 #{prodtype}:
        each prod in prodData
          if prod.name = prodtype
            li #{prod['Products.name']}
      br

